<main>
  <app-search-bar (searchFilters)="onSearch($event)"/>

  @let loading = loading$();
  @let character = characters$();
  @let errorMessage = error$();

  @if (loading) {
    <div class="status-container">
      <mat-spinner diameter="50"></mat-spinner>
      <p>Searching for characters...</p>
    </div>
  } @else if (errorMessage) {
    <div class="status-container">
      <mat-icon color="warn">error</mat-icon>
      <h3>Oops! Something went wrong</h3>
      <p>{{ errorMessage }}</p>
      <button matButton (click)="onSearch(emptySearchFilters)">
        Try Again
      </button>
    </div>
  } @else if (character) {
    <app-character-grid [characters]="character"/>
  }

  @let pagingInfo = pagingInfo$();
  @if (pagingInfo) {
    <app-paginator [totalItems]="pagingInfo.count" (pageEvent)="handlePageChange($event)"/>
  }
</main>
